.App {
  text-align: center;
}

.AppPuzzleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}

.AppPuzzleContainer > * {
  width: 75vmin;
  height: 75vmin;
  padding: 3vmin;
}

.AppRefBoard {
  width: 30vmin;
  height: 30vmin;
}
