.App {
  text-align: center;
}

.AppMenu {
  position: sticky;
  display: flex;
  top: 0em;
  z-index: 1;
  padding: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1em);
  border-radius: 0em;
  box-shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.12);
}

.AppMenu > * {
  margin-right: 1em;
}

.AppBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AppBody > * {
  width: 75vmin;
  height: 75vmin;
  padding: 3vmin;
}

.AppRefBoard {
  width: 30vmin;
  height: 30vmin;
}

.btn {
  background-color: #0276FF;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.25);
}
