:global(:root) {
  --board-size: 75vmin;
  --refboard-size: 25vmin;
}

.board {
  position: fixed;
  left: calc(50vw - min(75vw, 75vh)/2);
  top: calc(50vh - min(75vw, 75vh)/2);
  width: var(--board-size);
  height: var(--board-size);
  background-color: rgba(0, 0, 0, 0.08);
  overflow: hidden;
  font-size: 2vh;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.board .tile {
  position: absolute;
  opacity: 1;
  background-color: mediumaquamarine;
  background-image: url(../assets/texture2.jpg);
  background-repeat: no-repeat;
  background-size: var(--board-size) var(--board-size);
  transition: top 0.2s, left 0.2s;
  border-top: 0.2vh solid rgba(255, 255, 255, 0.7);
  border-left: 0.2vw solid rgba(255, 255, 255, 0.7);
  border-right: 0.2vw solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 1%;
  text-align: left;
  user-select: none;
  cursor: pointer;
}

.board .tile .number {
  display: block;
}

.refBoard {
  position: fixed;
  z-index: 1;
  left: 0;
  top: calc(50vh - min(75vw, 75vh)/2);
  width: var(--refboard-size);
  height: var(--refboard-size);
  background-color: rgba(0, 0, 0, 0.08);
  filter: grayscale(100%);
  overflow: hidden;
  font-size: 2vh;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}

.refBoard .tile {
  position: absolute;
  opacity: 1;
  background-color: mediumaquamarine;
  background-image: url(../assets/texture2.jpg);
  background-repeat: no-repeat;
  background-size: var(--refboard-size) var(--refboard-size);
  transition: top 0.2s, left 0.2s;
  border-top: 0.1vh solid rgba(255, 255, 255, 0.7);
  border-left: 0.1vw solid rgba(255, 255, 255, 0.7);
  border-right: 0.1vw solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.1vw solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 1%;
  text-align: left;
  user-select: none;
}
